{% extends 'layout.html' %}

{% block body %}
<div class="container">
    <h2>Registro de Platillos</h2>

    <!-- Formulario para agregar un nuevo platillo -->
    <form action="/AgregarPlatillo" method="POST">
        <div class="mb-3">
            <label for="platillo_id" class="form-label">ID del Platillo</label>
            <input type="text" class="form-control" id="platillo_id" name="PlatilloID" placeholder="ID del Platillo" required>
        </div>
        <div class="mb-3">
            <label for="nombre" class="form-label">Nombre del Platillo</label>
            <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Nombre del Platillo" required>
        </div>
        <div class="mb-3">
            <label for="precio" class="form-label">Precio</label>
            <input type="text" class="form-control" id="precio" name="precio" placeholder="Precio" required>
        </div>
        <button type="submit" class="btn btn-primary">Agregar Platillo</button>
    </form>

    <!-- Tabla para mostrar los platillos existentes -->
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre del Platillo</th>
                <th>Precio</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for platillo in platillos %}
            <tr>
                <td>{{ platillo[0] }}</td>
                <td>{{ platillo[1] }}</td>
                <td>{{ platillo[2] }}</td>
                <td>
                    <a href="/EditarPlatillo/{{ platillo[0] }}" class="btn btn-primary">Editar</a>
                    <!-- Enlace para editar el platillo -->
                    <!-- Formulario para enviar la solicitud de eliminación -->
                    <form action="/EliminarPlatillo/{{ platillo[0] }}" method="POST" style="display: inline;">
                        <!-- Agrega un botón de envío para enviar la solicitud de eliminación -->
                        <button type="submit" class="btn btn-danger">Eliminar</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
